.body {
    margin: 0%;
    padding: 0%;
}

.page1 {

    width: 100%;
    height: 700px;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
}

.navbar {

    width: 100%;
    height: 70px;
    background-color: transparent;
}

.logo {
    float: left;
    width: 20%;
    height: inherit;
    padding: 10px;
}

.main_nav {
    float: left;
    width: 60%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    height: inherit;
}

.links ul li {
    float: left;
    list-style-type: none;
    float: left;
    margin: 35px 20px 20px 40px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: black;

}

.links ul li a {
    color: black;
}


.left_nav {
    float: left;
    display: flex;
    justify-content: end;
    height: inherit;
    width: 20%;
    background-color: #253476;
}

.left_nav ul li {
    list-style-type: none;
    float: left;
    margin: 15px 0px 10px 0px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: azure;
}

.left_nav img {
    padding: 5px;
    width: 50px;
    height: 30px;
    margin: 20px;
}

.header_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 155%;
    text-shadow: 0px 3px 37px rgba(0, 0, 0, 0.25);
    color: white;
}

.arrow_left {
    display: flex;
    justify-content: baseline;
    margin-top: -60px;
    margin-left: 100px;
}

.arrow_right {
    display: flex;
    justify-content: end;
    margin-top: -30px;
    margin-right: 100px;
}


.icons img {
    display: flex;
    justify-content: baseline;
    margin-top: 160px;
    margin-left: 50px;
}

.page2 {
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: transparent;
}

.block_text {
    position: absolute;
    margin: 50px;
    width: 600px;
    height: 430px;
    background-color: white;
    box-shadow: 58px 49px 84px rgba(0, 0, 0, 0.09);
    z-index: 2;

}

.block_text h3 {
    margin-left: 20px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.block_text h6 {
    margin-left: 20px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 170%;
}

.image img {
    position: absolute;
    top: 150px;
    left: 500px;
    width: 600px;
    height: 430px;
}